.private/
.task/
secrets.env
*.secret.env
*.secret.yaml
*.key
.DS_Store
Thumbs.db
.decrypted~*
kubeconfig
talosconfig
*.agekey
longhorn.agekey
secret.json
terraform/*
!terraform/main.tf
!terraform/provider.tf
cluster-secrets.yaml