---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app n8n
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 2.5.0@sha256:9d39c4702a3dc94e57e8627cf5e02c679db04d5ffe604404d8d7fc2cdf998313
            env:
              EXECUTIONS_DATA_PRUNE: true
              EXECUTIONS_DATA_MAX_AGE: 7
              EXECUTIONS_DATA_PRUNE_MAX_COUNT: 50000
              GENERIC_TIMEZONE: ${TZ}
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: false
              N8N_PROTOCOL: "https"
              N8N_PORT: &port 8080
              N8N_HOST: &hostName n8n.home.${INTERNAL_DOMAIN}
              N8N_LOG_LEVEL: info
              N8N_LOG_OUTPUT: console

              N8N_RUNNERS_ENABLED: true

              DB_TYPE: postgresdb
              DB_POSTGRESDB_HOST: enterprise-postgres-rw.databases.svc.cluster.local
              DB_POSTGRESDB_DATABASE: *app
              DB_POSTGRESDB_USER: *app
            envFrom:
              - secretRef:
                  name: *app
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 2Gi

    service:
      app:
        ports:
          http:
            port: 80
            targetPort: *port

    persistence:
      data:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        retain: true
        size: 10Gi
        storageClass: longhorn
        globalMounts:
          - path: /home/node/.n8n
    ingress:
      app:
        enabled: true
        className: traefik-internal
        hosts:
          - host: n8n.home.${INTERNAL_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts: ["n8n.home.${INTERNAL_DOMAIN}"]
            secretName: n8n-tls
      webhook:
        enabled: true
        className: traefik-internal

        hosts:
          - host: n8n-webhook.home.${INTERNAL_DOMAIN}
            paths:
              - path: /webhook
                service:
                  identifier: app
                  port: http