---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-ddns-secret
  namespace: networking
spec:
  refreshInterval: 30m
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: cloudflare-ddns-secret
    creationPolicy: 'Orphan'
  data:
  - secretKey: CF_APITOKEN
    remoteRef:
      key: kube/cloudflare-credentials
      property: cloudflare-token