---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik-secret
  namespace: security
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: authentik-secret
    creationPolicy: 'Orphan'
  data:
  - secretKey: AUTHENTIK_BOOTSTRAP_EMAIL
    remoteRef:
      key: kube/authentik-login
      property: AUTHENTIK_BOOTSTRAP_EMAIL
  - secretKey: AUTHENTIK_BOOTSTRAP_PASSWORD
    remoteRef:
      key: kube/authentik-login
      property: AUTHENTIK_BOOTSTRAP_PASSWORD
  - secretKey: AUTHENTIK_BOOTSTRAP_TOKEN
    remoteRef:
      key: kube/authentik-login
      property: AUTHENTIK_BOOTSTRAP_TOKEN
  - secretKey: AUTHENTIK_SECRET_KEY
    remoteRef:
      key: kube/authentik-login
      property: AUTHENTIK_SECRET_KEY
  - secretKey: AUTHENTIK_POSTGRESQL__HOST
    remoteRef:
      key: kube/authentik
      property: HOST
  - secretKey: AUTHENTIK_POSTGRESQL__NAME
    remoteRef:
      key: kube/authentik
      property: DATABASE_NAME
  - secretKey: AUTHENTIK_POSTGRESQL__USER
    remoteRef:
      key: kube/authentik
      property: POSTGRES_USER
  - secretKey: AUTHENTIK_POSTGRESQL__PASSWORD
    remoteRef:
      key: kube/authentik
      property: POSTGRES_PASSWORD
  - secretKey: HOST
    remoteRef:
      key: kube/authentik-email
      property: HOST
  - secretKey: USERNAME
    remoteRef:
      key: kube/authentik-email
      property: USERNAME
  - secretKey: PASSWORD
    remoteRef:
      key: kube/authentik-email
      property: PASSWORD
  - secretKey: PORT
    remoteRef:
      key: kube/authentik-email
      property: PORT
  - secretKey: FROM
    remoteRef:
      key: kube/authentik-email
      property: FROM