apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: readarr-secret
  namespace: media
spec:
  refreshInterval: 8h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: readarr-secret
    creationPolicy: 'Orphan'
  data:
  - secretKey: READARR__POSTGRES__HOST
    remoteRef:
      key: kube/readarr
      property: READARR__POSTGRES__HOST
  - secretKey: READARR__POSTGRES__PASSWORD
    remoteRef:
      key: kube/readarr
      property: READARR__POSTGRES__PASSWORD
  - secretKey: READARR__POSTGRES__PORT
    remoteRef:
      key: kube/readarr
      property: READARR__POSTGRES__PORT
  - secretKey: READARR__POSTGRES__USER 
    remoteRef:
      key: kube/readarr
      property: READARR__POSTGRES__USER 
  - secretKey: READARR__API_KEY
    remoteRef:
      key: kube/readarr
      property: READARR__API_KEY 