apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pgadmin-secret
  namespace: databases
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: pgadmin-secret
    creationPolicy: 'Orphan'
  data:
  - secretKey: PGADMIN_DEFAULT_EMAIL
    remoteRef:
      key: kube/pgadmin-secret
      property: PGADMIN_DEFAULT_EMAIL
  - secretKey: PGADMIN_DEFAULT_PASSWORD
    remoteRef:
      key: kube/pgadmin-secret
      property: PGADMIN_DEFAULT_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pgadmin-oauth
  namespace: databases
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: pgadmin-oauth
    creationPolicy: 'Orphan'
  data:
  - secretKey: OAUTH2_CONFIG
    remoteRef:
      key: kube/pgadmin-oauth
      property: OAUTH_CONFIG
