apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: qbtools-secret
  namespace: media
spec:
  refreshInterval: 8h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: qbtools-secret
    creationPolicy: 'Orphan'
  data:
  - secretKey: SABNZBD_API_KEY
    remoteRef:
      key: kube/qbtools
      property: SABNZBD_API_KEY