# yaml-language-server: $schema=https://kochhaus-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: enterprise-postgres
  namespace: databases
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:17
  primaryUpdateStrategy: unsupervised
  startDelay: 60
  storage:
    size: 30Gi
    storageClass: longhorn
    pvcTemplate:
      accessModes:
        - ReadWriteOnce
  superuserSecret:
    name: cnpg-secret
  enableSuperuserAccess: true
  # bootstrap:
  #   recovery:
  #     source: &previousCluster enterprise-postgres-v16
  postgresql:
    parameters:
      max_connections: "500"
      shared_buffers: 512MB
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: false
  resources:
    requests:
      cpu: 50m
      memory: 2Gi
    limits:
      memory: 10Gi
  monitoring:
    enablePodMonitor: true
  backup:
    retentionPolicy: 30d
    barmanObjectStore: &barmanObjectStore
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 8
      destinationPath: s3://cnpg/v17
      endpointURL: https://${S3_BACKUP_API}
      serverName: &currentCluster enterprise-postgres
      s3Credentials:
        accessKeyId:
          name: cnpg-secret
          key: AWS_ACCESS_KEY_ID
        secretAccessKey:
          name: cnpg-secret
          key: AWS_SECRET_ACCESS_KEY
  affinity:
    nodeSelector:
      beta.kubernetes.io/arch: amd64
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway