---
# yaml-language-server: $schema=https://kochhaus-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-postgres
  namespace: databases
spec:
  instances: 1
  imageName: ghcr.io/immich-app/postgres:18-vectorchord0.5.3
  postgresUID: 999
  postgresGID: 999
  primaryUpdateStrategy: unsupervised
  storage:
    size: 16Gi
    storageClass: longhorn
    pvcTemplate:
      accessModes:
        - ReadWriteMany
  superuserSecret:
    name: immich-postgres
  enableSuperuserAccess: true
  bootstrap:
    initdb:
      database: immich
      owner: immich
      secret:
        name: immich-postgres
      postInitSQL:
        - CREATE EXTENSION vchord CASCADE;
        - CREATE EXTENSION earthdistance CASCADE;
  postgresql:
    parameters:
      max_connections: "1000"
      shared_buffers: 2GB
    shared_preload_libraries:
      - "vchord.so"
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true
  resources:
    requests:
      cpu: 50m
      memory: 2Gi
    limits:
      memory: 8Gi
  monitoring:
    enablePodMonitor: true
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway