---
# yaml-language-server: $schema=https://kochhaus-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-postgres
  namespace: databases
spec:
  instances: 3
  imageName: ghcr.io/immich-app/postgres:18-vectorchord0.5.3
  postgresUID: 999
  postgresGID: 999
  primaryUpdateStrategy: unsupervised
  storage:
    size: 16Gi
    storageClass: longhorn
    pvcTemplate:
      accessModes:
        - ReadWriteMany
  superuserSecret:
    name: immich-postgres
  enableSuperuserAccess: true
  # bootstrap:
  #   initdb:
  #     database: immich
  #     owner: immich
  #     postInitSQL:
  #       - CREATE EXTENSION IF NOT EXISTS vchord CASCADE;
  postgresql:
    parameters:
      max_connections: "1000"
      shared_buffers: 2GB
    # shared_preload_libraries:
    #   - "vchord.so"
  nodeMaintenanceWindow:
    inProgress: false
    reusePVC: true
  resources:
    requests:
      cpu: 50m
      memory: 2Gi
    limits:
      memory: 8Gi
  monitoring:
    enablePodMonitor: true
  backup:
    retentionPolicy: 30d
    barmanObjectStore:
      wal:
        compression: bzip2
        maxParallel: 8
      destinationPath: s3://immich-postgres/v18
      endpointURL: https://${S3_BACKUP_API}
      serverName: &currentCluster immich-postgres-v1
      s3Credentials:
        accessKeyId:
          name: immich-postgres
          key: AWS_ACCESS_KEY_ID
        secretAccessKey:
          name: immich-postgres
          key: AWS_SECRET_ACCESS_KEY
  # Note: externalClusters is needed when recovering from an existing cnpg cluster
  # externalClusters:
  #   - name: *previousCluster
  #     barmanObjectStore:
  #       serverName: *previousCluster
  #       wal:
  #         compression: bzip2
  #         maxParallel: 8
  #       destinationPath: s3://cnpg/v16
  #       endpointURL: https://${S3_BACKUP_API}
  #       s3Credentials:
  #         accessKeyId:
  #           name: immich-postgres
  #           key: AWS_ACCESS_KEY_ID
  #         secretAccessKey:
  #           name: immich-postgres
  #           key: AWS_SECRET_ACCESS_KEY
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: ScheduleAnyway