apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: flux-system
spec:
  interval: 5m
  chart:
    spec:
      chart: immich
      version: 0.10.3
      sourceRef:
        kind: HelmRepository
        name: immich
        namespace: flux-system
      interval: 1m
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    postgres:
      enabled: false

    immich:
      # metrics:
      #   enabled: true
      persistence:
        library:
          existingClaim: photo-library
    valkey:
      enabled: true
      controllers:
        main:
          containers:
            main:
              image:
                repository: docker.io/valkey/valkey
                tag: 9.0-alpine@sha256:b4ee67d73e00393e712accc72cfd7003b87d0fcd63f0eba798b23251bfc9c394
                pullPolicy: IfNotPresent
      persistence:
        data:
          enabled: true
          size: 1Gi
          type: persistentVolumeClaim
          accessMode: ReadWriteOnce

    controllers:
      main:
        containers:
          main:
            image:
              tag: v2.4.1
            env:
              LOG_LEVEL: verbose
              TZ: ${TIMEZONE}
              DB_HOSTNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_HOSTNAME
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_USERNAME
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_PASSWORD
              DB_DATABASE_NAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-secret
                    key: DB_DATABASE_NAME

    server:
      resources:
        requests:
          cpu: 500m
          memory: 2048M
      ingress:
        main:
          enabled: true
          className: traefik
          annotations:
            cert-manager.io/cluster-issuer: letsencrypt-production-external
            traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
            kubernetes.io/ingress.class: traefik
            traefik.ingress.kubernetes.io/router.middlewares: |
              networking-cloudflare-only@kubernetescrd,
              networking-request-limit@kubernetescrd
          hosts:
            - host: photos.${EXTERNAL_DOMAIN}
              paths:
                - path: /
                  pathType: Prefix
          tls:
            - hosts:
                - photos.${EXTERNAL_DOMAIN}
              secretName: immich-tls
      probes:
        liveness:
          spec:
            initialDelaySeconds: 60
        readiness:
          spec:
            initialDelaySeconds: 60

    machine-learning:
      resources:
        requests:
          cpu: 500m
          memory: 2048M
      persistence:
        cache:
          type: persistentVolumeClaim
          existingClaim: immich-machine-learning-cache
      probes:
        liveness:
          spec:
            initialDelaySeconds: 120
        readiness:
          spec:
            initialDelaySeconds: 120