apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: reddit-subscriptions
  namespace: self-hosted
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: reddit-subscriptions
    creationPolicy: 'Orphan'
  data:
  - secretKey: REDLIB_DEFAULT_SUBSCRIPTIONS
    remoteRef:
      key: kube/subreddits
      property: SUBSCRIPTIONS