---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: datadog-operator
  namespace: flux-system
spec:
  chart:
    spec:
      chart: datadog-operator
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: datadog
        namespace: flux-system
      version: 1.*
  install:
    crds: Create
    timeout: 7m
  interval: 1m0s
  timeout: 7m
  releaseName: datadog-operator
  targetNamespace: monitoring
  upgrade:
    crds: CreateReplace
    timeout: 7m
  # values:
  #   # Configuration for Datadog operator
  #   replicaCount: 2
  #   image:
  #     repository: gcr.io/datadoghq/datadog-operator
  #     pullPolicy: IfNotPresent
