apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: paperless-secret
  namespace: self-hosted
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: paperless-secret
    creationPolicy: 'Orphan'
  data:
  - secretKey: PAPERLESS_ADMIN_PASSWORD
    remoteRef:
      key: kube/paperless-secret
      property: PAPERLESS_ADMIN_PASSWORD
  - secretKey: PAPERLESS_ADMIN_USER
    remoteRef:
      key: kube/paperless-secret
      property: PAPERLESS_ADMIN_USER
  - secretKey: PAPERLESS_SECRET_KEY
    remoteRef:
      key: kube/paperless-secret
      property: PAPERLESS_SECRET_KEY
  - secretKey: PAPERLESS_OATH
    remoteRef:
      key: kube/paperless-secret
      property: PAPERLESS_OATH