apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-actions-secret
  namespace: self-hosted
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: github-actions-secret
    creationPolicy: 'Orphan'
  data:
  - secretKey: github_app_id
    remoteRef:
      key: kube/github-actions
      property: github_app_id
  - secretKey:  github_app_installation_id
    remoteRef:
      key: kube/github-actions
      property:  github_app_installation_id
  - secretKey: github_app_private_key
    remoteRef:
      key: kube/github-actions
      property: github_app_private_key
  - secretKey: github_webhook_secret_token
    remoteRef:
      key: kube/github-actions
      property: github_webhook_secret_token